$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;

.App {
  background: $greyLight;
  height: calc(100vh - 90px);
}

.NavBar {
  width: 250px;
  height: 100%;
  background: $greyDark;

  .logo {
    padding: 1.5rem 1.5rem;

    svg {
      max-width: 130px;

      path {
        fill: white;
      }
    }
  }
}

.outerWrap {
  background-color: grey;
  height: 100vh;
  min-height: 100%;
}

.musicControls {
  background: $greyLighter;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
