$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;

@font-face {
  font-family: spotify-circular;
  src: url("./assets/fonts/spotify-circular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: spotify-circular-bold;
  src: url("./assets/fonts/spotify-circular-bold.woff2") format("woff2");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: spotify-circular;
}

.App {
  background: $greyLight;
  height: calc(100vh - 90px);
  display: flex;
}

.NavBar {
  width: 260px;
  height: 100%;
  background: $greyDark;
  padding: 10px 10px 0;
  display: flex;
  flex-direction: column;

  .logo {
    padding: 1rem 0.8rem;

    svg {
      max-width: 130px;

      path {
        fill: white;
      }
    }
  }
  ul,
  .navoptions {
    margin: 0;
    padding: 0;
    color: $greyText;

    a {
      color: inherit;
      text-decoration: none;

      &:visited {
        color: inherit;
        text-decoration: none;
      }
    }

    li,
    a {
      color: $greyText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.5rem 0.8rem;
      font-size: 0.9rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      font-family: spotify-circular-bold;
      display: flex;
      align-items: center;

      svg {
        fill: currentColor;
        margin-right: 15px;
      }

      &.active {
        background: $greyLighter;
        color: white;

        svg {
          fill: white;
        }
      }

      &:hover {
        color: white;
      }
    }
  }
  .cookies {
    font-size: 0.6rem;
    color: $greyText;
    text-align: center;
    margin-top: auto;
    padding: 1rem;

    span {
      display: block;
    }
  }
}

.outerWrap {
  background-color: grey;
  height: 100vh;
  min-height: 100%;
}

.musicControls {
  background: $greyLighter;
  text-align: center;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 2;
  position: relative;
  border-top: 1px solid $greyDark;
}

.upperNav {
  background: rgba(8, 8, 8, 1);
  height: 54px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0;
  z-index: 2;
}

.Main {
  width: 100%;
  overflow-y: scroll;
  padding-top: 3.4rem;
  position: relative;

  .mainContent {
    color: white;

    .mainInner {
      padding: 0.5rem 2rem;
    }

    h1,
    h2 {
      font-size: 1.8rem;
    }
  }
}

.cardsWrap {
  padding-bottom: 0.8rem;

  h2 {
    margin-bottom: 0;
  }

  .subtitle {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 1.2rem;
    color: $greyText;
  }

  .cardsWrapInner {
    display: flex;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .card {
    background: $greyLighter;
    border-radius: 10px;
    margin-right: 1.2rem;
    width: 190px;
    height: 290px;
    overflow: hidden;
    padding: 1.2rem;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    transition: ease-in-out 0.1s;

    &:hover {
      .playIcon {
        opacity: 1;
      }

      transform: scale(1.02);
    }

    .cardImage {
      height: 160px;
      box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3),
        0 1px 2px 0 rgba(0, 0, 0, 0.2);

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
      }
    }

    .cardContent {
      padding: 0.4rem 0;

      h3 {
        font-weight: 600;
        font-size: 0.9rem;
        margin-bottom: 0;
        letter-spacing: 0.6px;
      }

      span {
        font-size: 0.8rem;
        color: $greyText;
      }
    }
  }
}

.playIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  background: $greenMain;
  margin-left: auto;
  opacity: 0;
  position: absolute;
  right: 1.2rem;
  bottom: 1.2rem;
  cursor: pointer;
  transition: ease-in-out 0.1s;

  svg {
    margin: auto;
    fill: currentColor;
  }
}

.playlistPage {
  display: flex;
  background-color: rgb(139, 139, 139);

  .mainInner {
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      color-stop(40%, $greyLight)
    );
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), $greyLight 40%);
    width: 100%;
    display: flex;

    /* TESTING FOR SMOOTH CORNERS
    border-top-left-radius: 40px;
    box-shadow: -50vh -50vh rgb(8, 8, 8); */
  }

  .playlistInfo {
    width: 300px;
    text-align: center;
    padding: 1.5rem;

    .playlistImage {
      width: 250px;
      height: 250px;
      margin: auto;

      img {
        height: 100%;
        width: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }
  }
}
